.App {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(rgb(228, 227, 227), rgb(123, 123, 123));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden {
  display: none;
}

.showmsg {
  display: flex;
}

.sitetitle {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin: 1%;
  color: rgb(78, 0, 141)
}

.navbar {
  margin: 1%;
  margin-top: -5%;
}

.profilelink {
  margin: 1%;
}

.Card {
  margin: 1%;
  margin-bottom: 5%;
}

.poster {
  margin: 1%;
}

.postBtn {
  display: flex;
  justify-content: center;
}

.minipostcontainer {
  display: flex;
  flex-wrap: wrap;
}

.miniposttitle {
  font-size: medium;
  margin: 7%;
  padding: 1%;
}

.minipostpicandtitle {
  display: flex;
}

.minipostlower {
  display: flex;
}

.minipostinfo {
  padding: 2%;
  width: 45%;
}

.minipostinfotitle {
  font-size: 14px;
}

.cartitle {
  text-align: center;
  margin: 3%;
  margin-top: 0%;
}

.subtitle {
  margin-left: 1%;
}

.carspecs {
  display: flex;
  justify-content: center;
}

.singlepost {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#bidform {
  padding: 10%;
  display: flex;
  justify-content: center;
}

.bidformitems {
  margin: 1%;
}

.bidListTitle {
  display: flex;
  justify-content: center;
}

.carspecs {
  display: flex;
}

.specsinfo {
  margin: 5%;
  margin-top: 0%;
  color: rgb(78, 0, 141);
}

.profilecontainer {
  display: block;
}

.carCards {
  display: flex;
}

.carForm {
  display: flex;
  flex-direction: column;
}

.carformcontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.postformitems {
  margin: 1%;
}

#postformcard {
  text-align: center;
  padding: 1%;
}

.bidformcontainer {
  max-width: 25%;
  margin-right: 25%;
  margin: 1%;
}

.bidlistcontainer {
  margin: 1%;
}

.posterinfoitem {
  margin: 2%;
}

.signupform {
  margin: 5%;
  margin-left: 15%;
}

.profiletitle {
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.footercredit {
  margin-top: 3%;
}

@media screen and (min-width: 500px) {
  .sitetitle {
    justify-content: space-evenly;
  }
  
  .carspecs {
    margin-left: 0%;
    margin-top: 2%;
  }

  .postertitle {
    margin-left: 5%;
  }

  .bidform {
    max-width: 400px;
  }
}

@media screen and (min-width: 650px) {
  .carspecs {
    margin-left: 0%;
    margin-top: 2%;
    font-size: 18px;
  }

  .postertitle {
    margin-left: 5%;
  }
}

@media screen and (min-width: 800px) {
  .carspecs {
    margin-left: 5%;
    margin-top: 2%;
    font-size: 20px;
  }

  .postertitle {
    margin-left: 5%;
  }
}

@media screen and (min-width: 900px) {
  .imageandspecs {
    max-width: 850px;
  }

  .imgspecsandbidform {
    display: flex;
  }
  
  .carspecs {
    margin-left: 0%;
    margin-top: 2%;
    font-size: 20px;
  }

  .postertitle {
    margin-left: 5%;
  }

  .bidform {
    margin-left: 0%;
    max-height: 300px;
  }
}

@media screen and (min-width: 1200px) {
  .bidform {
    margin-left: 30%;
  }
}