.App {
  background-image: linear-gradient(rgb(228, 227, 227), rgb(123, 123, 123));
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden {
  display: none;
}

.showmsg {
  display: flex;
}

.sitetitle {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin: 1%;
}

.minipostboard {
  display: flex;
  flex-wrap: wrap;
}

/* .minipostcontainer {
  border: 2px solid black;
  background-image: linear-gradient(rgb(225, 225, 225), rgb(144, 144, 144));
  max-width: 80%;
  margin: 10%;
  border-radius: 5%;
} */

.Card {
  margin: 1%;
}

.miniposttitle {
  font-size: medium;
  margin: 7%;
  padding: 1%;
}

.minipostpicandtitle {
  display: flex;
}

.minipostcarpic {
  max-width: 50%;
  border-radius: 10%;
}

.minipostlower {
  display: flex;
}

.minipostinfo {
  padding: 2%;
  width: 45%;
}

.minipostinfotitle {
  font-size: 14px;
}

.cartitle {
  text-align: center;
  margin: 3%;
  margin-top: 0%;
}

.subtitle {
  margin-left: 1%;
}

.carspecs {
  display: flex;
  justify-content: center;
}

.carpic {
  max-width: 50%;
  margin: 2%;
}

.singlepost {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.singlevehicleview {
  display: flex;
  border: 3px solid black;
  border-radius: 5%;
  margin: 1%;
  background-image: linear-gradient(rgb(230, 230, 230), rgb(124, 124, 124));
}

.bidform {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5%;
  background-color: green;
  width: 275%;
  height: 100%;
  margin: 10%;
  padding: 10%;
  margin-left: 50%;
}

#bidform {
  padding: 10%;
  display: flex;
  justify-content: center;
}

.bidformitems {
  margin: 1%;
}

.carspecs {
  display: flex;
  margin-right: -5%;
  margin-right: -5%;
  margin-left: -5%; 
}

.specsinfo {
  margin: 5%;
  margin-top: 0%;
  color: rgb(78, 0, 141);
}

.profilecontainer {
  display: inline-block;
}

.carCards {
  display: flex;
}

.carForm {
  display: flex;
  flex-direction: column;
}

.carformcontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.postformitems {
  margin: 1%;
}

.submitbtn {
  background-color: silver;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10%;
  margin: 35%;
  padding: 3%;
}

.bidformcontainer {
  max-width: 25%;
  margin-right: 25%;
}

.button {
  background-image: linear-gradient(rgba(255, 217, 0, 0.768), rgb(162, 138, 0));
  color: white;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  margin: 5%;
  text-align: center;
  border: 2px solid black;
}

.button:hover {
  cursor: pointer;
}

.posterinfo {
  border: 2px solid rgb(0, 0, 0);
  margin: 5%;
  display: flex;
  color: rgb(78, 0, 141);
  border-radius: 5%;
}

.posterinfoitem {
  margin: 2%;
}

.signupform {
  margin: 5%;
  margin-left: 15%;
}

.mb-3 {
  width: 50%;
}

.profiletitle {
  text-align: center;
}

.bidscontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.bidscontainertitle {
  text-align: center;
  margin: 1%;
}

.bidname {
  color: rgb(0, 0, 116);
}

.singlebidcontainer {
  margin: 1%;
  background-image: linear-gradient(rgb(219, 219, 219), rgb(119, 119, 119));
  max-width: 25%;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  border-radius: 10%;
}

.singlevehiclecontainer {
  margin: 1%;
  background-image: linear-gradient(rgb(0, 213, 0), rgb(1, 69, 1));
  max-width: 25%;
  display: flex;
  justify-content: center;
  color: white;
  border: 2px solid black;
  border-radius: 10%;
}

.icon {
  display: inline;
  width: 50px;
  height: 25px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5%;
  background-color: rgb(175, 148, 0);
  padding: 1%;
  margin: 3%;
}

.deletebutton {
  background-image: linear-gradient(rgba(255, 0, 0, 0.768), rgb(162, 0, 0));
  color: white;
  border-radius: 5px;
  width: 100px;
  height: 25px;
  margin: 4%;
  text-align: center;
  border: 2px solid black;
}

.footer {
  display: flex;
  justify-content: center;
}

.footercredit {
  margin-top: 3%;
}

@media screen and (min-width: 500px) {
  .sitetitle {
    justify-content: space-evenly;
  }
  
  .carspecs {
    margin-left: 0%;
    margin-top: 2%;
  }

  .postertitle {
    margin-left: 5%;
  }

  .bidform {
    max-width: 400px;
  }
}

@media screen and (min-width: 650px) {
  .carspecs {
    margin-left: 0%;
    margin-top: 2%;
    font-size: 18px;
  }

  .postertitle {
    margin-left: 5%;
  }
}

@media screen and (min-width: 800px) {
  .carspecs {
    margin-left: 5%;
    margin-top: 2%;
    font-size: 20px;
  }

  .postertitle {
    margin-left: 5%;
  }
}

@media screen and (min-width: 900px) {
  .imageandspecs {
    max-width: 850px;
  }

  .imgspecsandbidform {
    display: flex;
  }
  
  .carspecs {
    margin-left: 0%;
    margin-top: 2%;
    font-size: 20px;
  }

  .postertitle {
    margin-left: 5%;
  }

  .bidformcontainer {
    margin-left: 0%;
  }

  .bidform {
    margin-left: 0%;
    max-height: 300px;
  }
}

@media screen and (min-width: 1200px) {
  .bidform {
    margin-left: 30%;
  }
}