.App {
  background-image: linear-gradient(rgb(228, 227, 227), rgb(123, 123, 123));
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.subtitle {
  margin-left: 1%;
}

.carpic {
  max-width: 50%;
  margin: 2%;
}

.imageandspecs {
  display: flex;
}

.bidform {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5%;
  background-color: green;
  width: 275%;
  height: 100%;
  margin: 10%;
  padding: 10%;
}

.bidformitems {
  list-style: none;
  margin: 5%;
  width: 80%;
  margin-left: -8%;
}

.bidformname {
  width: 100%;
  margin: 1%;
}

.bidformbid {
  width: 100%;
  margin: 1%;
}

.bidformmsg {
  height: 5em;
  width: 100%;
  margin: 1%;
}

.carspecs {
  display: flex;
  margin-right: -5%; 
}

.specsinfo {
  margin: 5%;
  margin-top: 0%;
  color: rgb(78, 0, 141);
}

.submitbtn {
  background-color: silver;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10%;
  margin: 20%;
  padding: 3%;
}

.bidformcontainer {
  max-width: 25%;
  margin-right: 25%;
}

.button {
  background-color: rgb(70, 79, 255);
  color: white;
  border-radius: 5px;
}

.footer {
  display: flex;
  justify-content: center;
}

.footercredit {
  margin-top: 3%;
}
